<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="rabbitMQSettings" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
		<section name="DBSetting" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
	</configSections>
	<rabbitMQSettings>
		<add key="HostName" value="27.254.239.245" />
		<add key="UserName" value="Admin" />
		<add key="Password" value="Admin" />
		<add key="Port" value="15672" />
		<add key="VirtualHost" value="Probation_Arm" />
		<add key="ListQueue" value="AddPdt,UpdatePdt,AddSale,UpdateSale,DelSale" />
		<add key="Prefetch" value="1" />
	</rabbitMQSettings>
	<DBSetting>
		<add key="AuthenMode" value="1" /> <!--authen Mode = 1:authen windows mode., 2:authen SQL mode.-->
		<add key="CommandTimeOut" value="60" /> <!--Command TimeOut-->
		<add key="Server" value="localhost" />
		<add key="User" value="sa" />
		<add key="Password" value="1qazxsw2" />
		<add key="Database" value="AdaWSbyBank" />
	</DBSetting>
</configuration>